<!DOCTYPE html>
<html>
<head>

  <title>LA CARTELERA</title>

  <link href="../../css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="../../css/map.css" rel='stylesheet' type='text/css' />
  <!-- Custom Theme files -->
  <link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../../css/add&modifyUser.css" rel="stylesheet" type="text/css" />
  <!-- Custom Theme files -->
  <!-- <script src="js/jquery.min.js"></script> -->
  <!-- Custom Theme files -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--webfont-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header-section-starts -->
<div class="full">
  <div class="menu">
    <ul>
      <li><a href="/"><div class="hm"><i class="home1"></i><i class="home2"></i></div></a></li>
      <!-- <li><a href="videos.html"><div class="video"><i class="videos"></i><i class="videos1"></i></div></a></li> -->
      <li><a href="../../html/reviews.html"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
      <li><a href="/showUsers"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
      <li><a href="../../../../contact"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>
    </ul>
  </div>
  <div class="main">
    <div class="error-content">
      <div class="top-header span_top">
        <div class="logo">
          <p>LA CARTELERA</p>
        </div>
        <div class="search v-search">
          <form>
            <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
            <input type="submit" value="">
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="error-404 text-center">
        <main>
          <p><h3 class="head">ADD AN USER:</h3>
          <form action="/userAdded" class="formulario" id="formulario">

            <div class="formulario_grupo" >
              <label  class="formulario_label">Name</label>
              <div class="formulario_grupo-input">
                <input type="text" class="formulario_input" name="name" placeholder="Name User" required/>
                <i class="formulario_validacion-estado fas fa-times-circle"></i>
              </div>
            </div>

            <div class="formulario_grupo" >
              <label  class="formulario_label">Surname</label>
              <div class="formulario_grupo-input">
                <input type="text" class="formulario_input" name="surname" placeholder="Surname user" required/>
                <i class="formulario_validacion-estado fas fa-times-circle"></i>
              </div>
            </div>

            <div class="formulario_grupo" >

              <label class="formulario_label">Password</label>
              <div class="formulario_grupo-input">
                <input type="password" class="formulario_input" name="pass" id="pass" placeholder="Password" required/>
                <button type="button" class="butt_klk" onclick="mostrarContraseña()">Show password</button>
              </div>

            </div>

            <div class="formulario_grupo" >
              <label  class="formulario_label">Email</label>
              <div class="formulario_grupo-input">
                <input type="text" class="formulario_input" name="email" placeholder="Email User" required/>
                <i class="formulario_validacion-estado fas fa-times-circle"></i>
              </div>
            </div>

            <div class="formulario_grupo formulario_grupo-btn-enviar">
              <button type="submit" class="formulario_btn">ADD USER</button>
            </div>


            <div class="clearfix"></div>
          </form>
          </p>
        </main>

      </div>
      <div class="footer">
      </div>
    </div>
  </div>
</div>
<script src="../../js/showPassword.js"></script>
</body>
</html>