<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/formDeleteMovies" class="formulario" id="formulario">

    <div class="formulario_grupo" id="grupo_name">
        <label for="nameMovie" class="formulario_label">Movie name</label>
        <div class="formulario_grupo-input">
            <select class="formulario_input" name="id" id="nameMovie">
                <option value="select">[Select an option]</option>
                {{#movies}}
                <option value="{{id}}">{{name}} </option>
                {{/movies}}
            </select>
            <i class="formulario_validacion-estado fas fa-times-circle"></i>
        </div>

    </div>
    <div class="formulario_grupo formulario_grupo-btn-enviar">
        <button type="submit" class="formulario_btn">Buy ticket</button>
    </div>
</form>
</body>
</html>