<!DOCTYPE html>
<html>
<head>

<title>LA CARTELERA</title>

<link href="../../../../../../css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="../../../../../../css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<!-- <script src="js/jquery.min.js"></script> -->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- header-section-starts -->

	<div class="full">
			<div class="menu">
				<ul>
					<li><a class="active" href="/static"><i class="home"></i></a></li>
					<li><a href="../../../../reviews"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
					<li><a href="/user"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
					<li><a href="../../../../contact"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>
				</ul>
			</div>

		<div class="main">
		<div class="header">
			<div class="top-header">
				<div class="logo">
    					<p>LA CARTELERA</p>
				</div>
				<div class="login">
					<a class="b-home" href="/login">LOG IN</a>
				</div>
				<br><br>

				<div class="clearfix"></div>

			</div>
			<div class="header-info">
				<h1>CREED III</h1>
				<p class="age"><a>+18</a> Michael B. Jordan</p>
				<p class="review">Rating: 7,5/10</p>
				<p class="review reviewgo">Genre: Action, Sports, Drama</p>
				<p class="review">Release: March 3, 2023</p>
				<p class="special">Still dominating the boxing world, Adonis Creed is thriving in his career and family life. When Damian, a childhood friend and former boxing prodigy resurfaces after serving time in prison, he's eager to prove that he deserves his shot in the ring. The face-off between former friends is more than just a fight. To settle the score, Adonis must put his future on the line to battle Damian (a fighter who has nothing to lose).</p>
				<a class="video" href="https://www.youtube.com/watch?v=xTaIZo8OJYE&ab_channel=MGM" target="_blank"><i class="video1"></i>WATCH TRAILER</a>
				<a class="book" href="/user"><i class="book1"></i>BOOK TICKET</a>
			</div>
		</div>

		<div class="review-slider"></div>

		<div class="news">
			<div class="col-md-6 news-left-grid">
				<h3>Don’t be late,</h3>
				<h2>Book your ticket now!</h2>
				<h4>Easy, simple & fast.</h4>
				<a href="../../../../../../reviews"><i class="book"></i>SEE MORE FILMS</a>
			</div>

			<div class="col-md-6 news-right-grid">
				<h3>What's coming soon</h3>
				<div class="news-grid">
					<h5>John Wick 4</h5>
					<label>24 march 2023</label>
					<p>John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.</p>
				</div>

				<div class="news-grid">
					<h5>Fast & Furious X</h5>
					<label>19 may 2023 </label>
					<p>Over many missions and against impossible odds, Dom Toretto and his family have outsmarted and outdriven every foe in their path. Now, they must confront the most lethal opponent they've ever faced. Fueled by revenge, a terrifying threat emerges from the shadows of the past to shatter Dom's world and destroy everything (and everyone) he loves.</p>
				</div>

				<div class="news-grid">
					<h5>Guardians of the Galaxy Vol. 3</h5>
					<label>5 may 2023 </label>
					<p>Still reeling from the loss of Gamora, Peter Quill rallies his team to defend the universe and one of their own - a mission that could mean the end of the Guardians if not successful.</p>
				</div>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	</div>

	<div class="clearfix"></div>

</body>
</html>