<!DOCTYPE html>
<html>
<head>
<title>Cinema A Entertainment Category Flat Bootstarp Resposive Website Template | Reviews :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cinema Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- header-section-starts -->
	<div class="full">
			<div class="menu">
				<ul>
					<li><a href="/"><div class="hm"><i class="home1"></i><i class="home2"></i></div></a></li>
					<li><a class="active" href="reviews"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
					<li><a href="tickets"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
					<li><a href="contact"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>
				</ul>
			</div>
		<div class="main">
		<div class="review-content">
			<div class="top-header span_top">
				<div class="logo">
					<p>LA CARTELERA</p>
				</div>
				<div class="search v-search">
					<form>
						<input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
						<input type="submit" value="">
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="reviews-section">
				<h3 class="head">Billboard</h3>
					<div class="col-md-9 reviews-grids">
						<div class="review">
							<div class="movie-pic">
								<a href="tickets"><img src="images/creed.jpeg" alt="" /></a>
							</div>
							<div class="review-info">
								<a class="span" href="tickets">Creed III </a>
								<p class="dirctr"><a href="">Michael b Jordan </a></p>
								<p class="ratingview">Critic's Rating:</p>

								<p class="ratingview">
								&nbsp;3.9/5
								</p>
								<div class="clearfix"></div>
								<p class="ratingview c-rating">Avg Readers' Rating:</p>

								<p class="ratingview c-rating">								
								&nbsp; 3.7/5</p>
								<div class="clearfix"></div>
								<div class="yrw">
									
									<div class="rtm text-center">
										<a href="tickets">BUY TICKET</a>
									</div>
									<div class="wt text-center">
										<a href="https://www.youtube.com/watch?v=xTaIZo8OJYE&ab_channel=MGM">WATCH THIS TRAILER</a>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="info">DIRECTION:Michael B. Jordan</p>
								<p class="info">GENRE: Action, Sports, Drama</p>
								<p class="info">DURATION:2 hours 43 minutes</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="review">
							<div class="movie-pic">
								<a href="tickets"><img src="images/screamiv.png" alt="" /></a>
							</div>
							<div class="review-info">
								<a class="span" href="tickets">Scream VI  </a>
								<p class="dirctr"><a href="">Matt Bettinelli-Olpin</a></p>
								<p class="ratingview">Critic's Rating:</p>

								<p class="ratingview">
								&nbsp;3.5/5  
								</p>
								<div class="clearfix"></div>
								<p class="ratingview c-rating">Avg Readers' Rating:</p>

								<p class="ratingview c-rating">								
								&nbsp; 3.3/5</p>
								<div class="clearfix"></div>
								<div class="yrw">
									<div class="rtm text-center">
										<a href="tickets">BUY TICKET</a>
									</div>
									<div class="wt text-center">
										<a href="https://www.youtube.com/watch?v=1Ie2qmAOc6Q&ab_channel=ParamountPictures">WATCH THIS TRAILER</a>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="info">DIRECTION: Matt Bettinelli-Olpin</p>
								<p class="info">GENRE:Terror, Mystery</p>
								<p class="info">DURATION:2 hours 6 minutes</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="review">
							<div class="movie-pic">
								<a href="tickets"><img src="images/maridos.png" alt="" /></a>
							</div>
							<div class="review-info">
								<a class="span" href="tickets">Mari(dos) </a>
								<p class="dirctr"><a href="">Lucía Alemany</a>T</p>
								<p class="ratingview">Critic's Rating:</p>

								<p class="ratingview">
								&nbsp;2.1/5
								</p>
								<div class="clearfix"></div>
								<p class="ratingview c-rating">Avg Readers' Rating:</p>

								<p class="ratingview c-rating">								
								&nbsp; 1.9/5</p>
								<div class="clearfix"></div>
								<div class="yrw">
									
									<div class="rtm text-center">
										<a href="tickets">BUY TICKET</a>
									</div>
									<div class="wt text-center">
										<a href="https://www.youtube.com/watch?v=rI7OvhsKtKc&ab_channel=TrailersInSpanish">WATCH THIS TRAILER</a>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="info">DIRECTION:Lucía Alemany</p>
								<p class="info">GENRE:Comedy</p>
								<p class="info">DURATION:1 hour 42 minutes</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="review">
							<div class="movie-pic">
								<a href="tickets"><img src="images/watcher.png" alt="" /></a>
							</div>
							<div class="review-info">
								<a class="span" href="single.html">Watcher </a>
								<p class="dirctr"><a href="">Clohe Okuno</a></p>
								<p class="ratingview">Critic's Rating:</p>

								<p class="ratingview">
								&nbsp;4/5
								</p>
								<div class="clearfix"></div>
								<p class="ratingview c-rating">Avg Readers' Rating:</p>

								<p class="ratingview c-rating">								
								&nbsp; 3.7/5</p>
								<div class="clearfix"></div>
								<div class="yrw">
									
									<div class="rtm text-center">
										<a href="tickets">BUY TICKET</a>
									</div>
									<div class="wt text-center">
										<a href="https://www.youtube.com/watch?v=KDc6ZLo8sjc&ab_channel=IFCFilms">WATCH THIS TRAILER</a>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="info">DIRECTION:Clohe Okuno</p>
								<p class="info">GENRE:Thriller, Horror, Drama,Mystery</p>
								<p class="info">DURATION:1 hour 36 minutes</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="review">
							<div class="movie-pic">
								<a href="tickets"><img src="images/asbestas.png" alt="" /></a>
							</div>
							<div class="review-info">
								<a class="span" href="tickets">As bestas  </a>
								<p class="dirctr"><a href="">Rodrigo Sorogoyen</a></p>
								<p class="ratingview">Critic's Rating:</p>

								<p class="ratingview">
								&nbsp;3.3/5
								</p>
								<div class="clearfix"></div>
								<p class="ratingview c-rating">Avg Readers' Rating:</p>

								<p class="ratingview">								
								&nbsp; 2.9/5</p>
								<div class="clearfix"></div>
								<div class="yrw">
									
									<div class="rtm text-center">
										<a href="tickets">BUY TICKET</a>
									</div>
									<div class="wt text-center">
										<a href="https://www.youtube.com/watch?v=8FfTwEbN9YA&ab_channel=TrailersyEstrenos">WATCH THIS TRAILER</a>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="info">DIRECTION: Rodrigo Sorogoyen</p>
								<p class="info">GENRE:Mystery</p>
								<p class="info">DURATION:2 hour 17 minutes</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
						<div class="might">
				<div class="might-grid">
				<div class="might-grid">
				<div class="clearfix"></div>
				</div>
				<div class="might-grid">
				<div class="might-grid">
			</div>
			<!---->
				
				<!---->

					</div>

					<div class="clearfix"></div>
			</div>
			</div>
				<div class="review-slider">
				</div>
			</div>
	<div class="clearfix"></div>
	</div>
	</div>
	</div>

</body>
</html>