@charset "utf-8";
/* CSS Document */


body {
}

p,h1,h2,h3,h4,h5 {
}

.textsala {
    font-size: 1.5em;
    font-weight: Bold;
}

.textlocalitats {
}

.pantalla  {
}

.condicions {
}

.buto  {
    background-color:#6C9B01;
    font-weight: Bold;
    text-transform: uppercase;
    border: none;
    color: #d8d8d8;
    width: 184px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 30px;
}

.butoanterior {
    background-color:#6C9B01;
    font-weight: Bold;
    text-transform: uppercase;
    border: none;
    color: #d8d8d8;
    width: 120px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 30px;
}


/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h3, .contentheading {
    color: #EEEEEE ;
    /*font-size: 1.6em;*/
    background-color:#7F8BA3;
    /*font-family: "Trebuchet MS", monaco, sans-serif;*/

    font-style: normal;
    margin-bottom: 5px;
    text-align: center;
}


p strong{
    color: #C7A136;
}

td {
		margin-top: 0;
		margin-bottom: 5px;
		color : #111111;
		font-weight : normal;
		padding : 0px;
	}


th {
    margin-bottom: 5px;
    font-family: "Trebuchet MS", monaco, sans-serif;
    font-size : 100%;
    font-style : normal;
    line-height : 1;
    text-decoration : none;
    color : #111111;
    font-weight : bold;
    margin : 0px;
    padding : 0px;
}

a:link, a:hover, a:active {
    color : #111;
    text-decoration : none;
    background-color : inherit;
    text-decoration:underline;
    margin : 2px;
    padding : 2px;
}

tr, th, td, input {
    padding:2px;
    margin:2px;
    border:none;
}
input {
    border: none;
    background-repeat : no-repeat;
    background-position : center;
    border-spacing: 0px;
    margin-top:-0px;
    margin-left:-0px;
}

td{
    height:35px;
    white-space: nowrap;
}
.botonespai {
    border: none;
    background-repeat : no-repeat;
    background-position : center;

    width:25px;
    height:30px;
    margin-top:-3px;
    background-color:#d8d8d8;
    border: none;
    background:url(../images/minus.jpg);
}
.botonminus {
    width:25px;
    height:30px;
    background-color:#d8d8d8;
    border: none;
    background:url(../images/minus.jpg);
    background-repeat : no-repeat;
    background-position : center;
    cursor: pointer;
}

.botonnormal {
    width:25px;
    height:30px;
    /*	margin-top:-3px;  */
    background-color:#d8d8d8;
    background-image: url(../images/amocupat.jpg);
    cursor: pointer;
}

.botonnormalocupat {
    width:25px;
    height:30px;
    /*	margin-top:-3px; */
    background-color:#d8d8d8;
    background-image: url(../images/amocupat.jpg);
}

.botonnormalinhabilitat {
    width:25px;
    height:30px;
    /*	margin-top:-3px; */
    background-color:#d8d8d8;
    background-image: url(../images/aminhabilitat.bmp);
}

.asientos{
    text-align:center;}
.comprar{
    height:40px;
    width:200px;
    background-color:#036;
    color:#FFFFFF;
    vertical-align: center}

.loader{
    position:absolute;
    height:220px;
    width:200px;
    background-color:#036;
    color:#ff0000;}

.pago{
    text-align:center;}

#contenedor{
    display: inline-block;	/* Es esencial para que se muestren los bloques en línea */
    /*	width:700px; */
    margin-left:auto;
    margin-right:auto;
    vertical-align: top;

    border: 0;
    padding: 0;
    margin: 0;
}

.tdtop{
    	vertical-align: top;
}

.bloc{
    display: inline-block;
    /*	vertical-align: middle;   */
    vertical-align: top;

    border: 1px solid #ffffff;
    padding: 10px;
    margin: 5px;

    /*	width:90px;
        height:200px;
        background-color:#000000;
        top:350px;
        right:-20px;
        position:absolute;*/
}
#tiposasiento{

}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

input {
    margin: 0;
    padding: 0;
}

span {
    margin: 0;
    padding: 0;

}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #9E2D35;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -50px;

    cursor: pointer;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #9E2D35 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-size: 80%;
}

.separaciobutaques{
    max-width: 600px;
    vertical-align: middle;
}